<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let task of tasks">
    <ion-card-header>
      <ion-card-subtitle>{{ task.category }}</ion-card-subtitle>
      <ion-card-title>{{ task.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>{{ task.task_date | date}}</p>
      <p>{{ task.priority_level }}</p>
      <p>{{ task.progress_level }}</p>
      <p>{{ task.description }}</p>
      <ion-button size="small" color="danger" (click)="onDelete(task)">Delete</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
